@font-face {
  font-family: "Revamped";
  src: url("../../assets//fonts/Revamped.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.Teams {
  font-family: "Revamped";
  font-size: 3.6vh;
  font-weight: bold;
  padding-top: 5vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-left: 83vh;
}

.TeamsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.Teams-name {
  width: fit-content;
  height: 100%;
  display: flex;
  padding-left: 1vh;
  padding-bottom: 1vh;
}

.Teams-logo-wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 14.5vh;
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Teams-logo {
  max-width: 65%;
  max-height: 65%;
  object-fit: contain;
}

.Teams-score {
  display: flex;
  padding-left: 3vh;
  padding-bottom: 4.5vh;
  width: 12vh;
  height: fit-content;
}
