.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.ScoreRedFrame {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  width: 125vh;
  height: 64vh;
  position: absolute;
  margin-top: 21vh;
  overflow: hidden;
}

.ScoreBlackFrame {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  width: 123vh;
  height: 64vh;
  position: absolute;
  margin-top: 20vh;
  margin-left: 2vh;
  overflow: hidden;
}
