@font-face {
  font-family: "Revamped";
  src: url("../../assets//fonts/Revamped.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.Teams {
  font-family: "Revamped";
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  padding-top: 20px;
  z-index: 1;
}

.Teams-name {
  width: fit-content;
  height: 100%;
  display: flex;
  padding-left: 10px;
  padding-bottom: 10px;
}

.Teams-logo-wrapper {
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 75px;
  width: 145px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Teams-logo {
  max-width: 65%;
  max-height: 65%;
  object-fit: contain;
}

.Teams-score {
  display: flex;
  padding-left: 30px;
  padding-bottom: 45px;
  width: 120px;
  height: fit-content;
}
