.Wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 350px;
  padding-right: 375px;
  padding-top: 20px;
  position: relative;
}

.ScoreRedFrame {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  width: 1250px;
  height: 640px;
  position: absolute;
  padding-top: 290px;
}

.ScoreBlackFrame {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  width: 1230px;
  height: 640px;
  position: absolute;
  padding-left: 50px;
  padding-top: 270px;
}
